<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contosoinsurance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contosoinsurance.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>contosoinsurance</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$contosoinsurance</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_AzureStorageAccountConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=contososqjp3r;AccountKey=iEwGW9cC4BVZpr/5E6rs7hX/A+b8ULRqwBzBes5pYVaVvd9l07kXWKaantvjqjfxWeBIpIUOwC12VIDJFSmXig==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_AzureStorageAccountConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=contososqjp3r;AccountKey=iEwGW9cC4BVZpr/5E6rs7hX/A+b8ULRqwBzBes5pYVaVvd9l07kXWKaantvjqjfxWeBIpIUOwC12VIDJFSmXig==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MS_NotificationHubConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://contosomomentssqjp3r-ns.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=wpF6F0hfEYDmmcMK6eJSNcQt/dS6Skt4Bm8Z2bIdF5A=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_NotificationHubConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://contosomomentssqjp3r-ns.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=wpF6F0hfEYDmmcMK6eJSNcQt/dS6Skt4Bm8Z2bIdF5A=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MS_TableConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:contosoinsurance.database.windows.net,1433;Initial Catalog=CRMClaims;Persist Security Info=False;User ID=contosoinsurance;Password=Ebs5XmYM5NGaFWT;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:contosoinsurance.database.windows.net,1433;Initial Catalog=CRMClaims;Persist Security Info=False;User ID=contosoinsurance;Password=Ebs5XmYM5NGaFWT;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:contosomomentssqjp3r-dbserver.database.windows.net,1433;Initial Catalog=contosomomentssqjp3r;User ID=ContosoMoments@contosomomentssqjp3r-dbserver;Password=&quot;P@assW0rd_20+16=&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_TableConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:contosomomentssqjp3r-dbserver.database.windows.net,1433;Database=contosomomentssqjp3r;User Id=ContosoMoments@contosomomentssqjp3r-dbserver;Password=P@assW0rd_20+16=;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="UseDevelopmentStorage=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="UseDevelopmentStorage=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Server=tcp:contosoinsurance.database.windows.net,1433;Initial Catalog=CRMClaims;Persist Security Info=False;User ID=contosoinsurance;Password=Ebs5XmYM5NGaFWT;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>