@font-face {
   font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'robotomedium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std Regular';
    src: url('../fonts/Helvetica-Neue-LT-Std.eot');
    src: url('../fonts/Helvetica-Neue-LT-Std?#iefix') format('embedded-opentype'),
         url('../fonts/Helvetica-Neue-LT-Std.woff') format('woff'),
         url('../fonts/Helvetica-Neue-LT-Std.ttf') format('truetype'),
         url('../fonts/Helvetica-Neue-LT-Std.svg#HelveticaNeueLTStdBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{margin:0;font-family: "Segoe UI","Segoe WP","Helvetica Neue",Tahoma,"Lucida Grande",Helvetica,sans-serif;overflow-x:hidden;}

.roboto-regular{font-family:robotoregular;}

/*tab*/
ul.nav-tabs {list-style:none;list-style-type:none;}
ul.nav-tabs >li {display:inline;}
ul.nav-tabs >li.active{background-color:gray;}


/*nav*/
.nav{background: url('images/bg-tab.png') repeat; height:72px;}
.nav .logo{display: inline-block;width: 80%;height:72px;}
.nav .logo>img{padding-left:40px;display: inline-block;padding-top: 12px;}
.nav .logo>label{display: inline-block;margin-left: 17px;vertical-align: top;margin-top: 15px;text-transform: uppercase;color: #fff;font-weight: lighter;font-size: 38px;font-family:Helvetica Neue LT Std Regular;}
.nav .user-info{display: inline-block;width: 15%;text-align: right;vertical-align: middle;float:right;clear:both;margin-top: 25px;margin-right: 23px;}
.nav .user-info>div{display: inline-block;vertical-align: top;}
.nav .user-info .login-name{color:#fff;font-size: 16px;padding-right: 3px;}
.nav .user-info .login-status>img{width: 19px;height: 20px;}

table {display: table;width: 100%;}
table thead, table tbody {float: left;width: 100%;}
table tbody {overflow: auto;height: 198px;}
table tr {width: 100%;}



